<div class="profile" ng-controller="EditprofileCtlr">
  <form class="profileForm" ng-submit="editProfile()">
    <div class="input-group">
      <label for="first">First Name</label>
      <input type="text" name="first" class="form-control" ng-model="user.first_name">
    </div>
    <div class="input-group">
      <label for="last">Last Name</label>
      <input type="text" name="last" ng-model="user.last_name" class="form-control">
    </div>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" name="email" ng-model="user.email" class="form-control">
    </div>
    <div class="input-group">
      <label for="description">Description</label>
      <textarea name="description" rows="3" cols="40" ng-model="user.description" class="form-control"></textarea>
    </div>
    <p>Instruments:</p>
      <div class="userInstruments input-group">
        <label for="instruments" ng-repeat="(key, instrument) in instruments">
                <input type="checkbox" class="instrumentSel" name="instrumentSel" checklist-model="selectedInstruments.ids" checklist-value="key"> {{instrument}}
            </label>
   </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>