<div class="availability" ng-controller="AvailCtlr">
    <form id="availability" ng-submit="setAvailability()">
        <div class="input-group">
            <label for="start">Start</label>
            <input type="datetime" name="start" ng-model="start">
        </div>
        <div class="input-group">
            <label for="end">End</label>
            <input type="datetime" name="end" ng-model="end">
        </div>
        <div class="input-group">
            <label for="instruments" ng-repeat="(key, instrument) in instruments">
                <input type="checkbox" class="instrumentSel" name="instrumentSel" checklist-model="selectedInstruments.ids" checklist-value="key"> {{instrument}}
            </label>
        </div>
    </form>
    <button type="submit" form="availability" value="Submit">Submit</button>
</div>